@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

:root {
    --fonte-principal: 'EB Garamond', serif;
    --cor-texto: #111111cf;
    --cor-fundo: white;
    --cor-destaque: #f3efe9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: var(--cor-fundo);
  font-family: var(--fonte-principal);
  color: var(--cor-texto);
}

.cabecalho {
    font-size: 36px;
    color: var(--cor-fundo);
    letter-spacing: 2px;
}

.menu {
    margin-top: 10px;
}